body{
    background-color: tan;
}

nav{
    display: flex;
}

h1{
    color: white;
    animation: logo 1s ease-in-out infinite alternate;
    font-size: 40px;
}

@keyframes logo{
    from{
        text-shadow: 0 0 20px white;
    }
    to{
        text-shadow: 0 0 30px white,
                     0 0 10px white;
    }
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left:10px;
    animation: navs 2s infinite alternate;
}

@keyframes navs{
    from{
        color: black;
        background-color: #FFFDD0;
        border-radius: 2px;
    }
    to{
        background-color: #e98c00;
        border-radius: 4px;
        color: black;
    }
}

.airplane{
    height: 200px;
    width: 200px;
    animation: flight 2s infinite alternate;
}

@keyframes flight{
    from{
        transform: translateX(-30px);
    }
    to{
        transform: translateX(30px);
    }
}

